In [15]:
# Importing the libraries
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
print("Setup Complete")

Setup Complete

In [16]:
# Importing the dataset
filepath = "C:/Users/wanee/Desktop/Technohack_Internship_Tasks/Machine_Learning/iris.csv"
file = pd.read_csv(filepath)
file

     PetalLength  PetalWidth  SepalLength  SepalWidth          Flower
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [17]:
#Iris-setosa = 0
#Iris-versicolor = 1
#Iris-virginica = 2
file['Flower'] = file['Flower'].replace({'Iris-setosa':0, 'Iris-versicolor':1, 'Iris-virginica':2})
file

     PetalLength  PetalWidth  SepalLength  SepalWidth  Flower
0            5.1         3.5          1.4         0.2       0
1            4.9         3.0          1.4         0.2       0
2            4.7         3.2          1.3         0.2       0
3            4.6         3.1          1.5         0.2       0
4            5.0         3.6          1.4         0.2       0
..           ...         ...          ...         ...     ...
145          6.7         3.0          5.2         2.3       2
146          6.3         2.5          5.0         1.9       2
147          6.5         3.0          5.2         2.0       2
148          6.2         3.4          5.4         2.3       2
149          5.9         3.0          5.1         1.8       2

[150 rows x 5 columns]

In [18]:
X = file.drop(['Flower'], axis=1)
y = file['Flower']
print(X)
print(y)

     PetalLength  PetalWidth  SepalLength  SepalWidth
0            5.1         3.5          1.4         0.2
1            4.9         3.0          1.4         0.2
2            4.7         3.2          1.3         0.2
3            4.6         3.1          1.5         0.2
4            5.0         3.6          1.4         0.2
..           ...         ...          ...         ...
145          6.7         3.0          5.2         2.3
146          6.3         2.5          5.0         1.9
147          6.5         3.0          5.2         2.0
148          6.2         3.4          5.4         2.3
149          5.9         3.0          5.1         1.8

[150 rows x 4 columns]
0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Flower, Length: 150, dtype: int64

In [19]:
# Checking if the data needs to be cleaned
file.isnull().sum()

PetalLength    0
PetalWidth     0
SepalLength    0
SepalWidth     0
Flower         0
dtype: int64

In [20]:
# Data Analysis
file.describe()

       PetalLength  PetalWidth  SepalLength  SepalWidth      Flower
count   150.000000  150.000000   150.000000  150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667    1.000000
std       0.828066    0.433594     1.764420    0.763161    0.819232
min       4.300000    2.000000     1.000000    0.100000    0.000000
25%       5.100000    2.800000     1.600000    0.300000    0.000000
50%       5.800000    3.000000     4.350000    1.300000    1.000000
75%       6.400000    3.300000     5.100000    1.800000    2.000000
max       7.900000    4.400000     6.900000    2.500000    2.000000

In [28]:
# Test/Train Split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
# Define model
model = DecisionTreeRegressor(random_state=0)
# Fit model
model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = model.predict(val_X)
acc = accuracy_score(val_y, val_predictions)*100
print(f'Accuracy is {acc: .2f}%')

Accuracy is  97.37%